*{
    margin: 0;
    padding: 0;
}


.wrapper{
    width: 80%;
    margin: auto;
}
html{
    background-color: rgba(167,182,160,0.24);
}

header{
    background-color: rgba(58,174,238,0.67);
    padding: 20px;
    color: white;
    font-weight: bold;
}
header h1{
    display: inline-block;
    font-weight: bold;
}
header nav ul li {
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
}
nav{
    float: right;
    margin-top: 22px;
}
a{
    text-decoration: none;
}

nav ul li:hover{
    padding: 5px;
    background-color: white;
    color: rgba(58,174,238,0.67);
    border-radius: 5px;
}

.sign_up{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
}

.wrapper_main{
    width: 60%;
    margin: auto;
}

footer{
    background-color: rgba(58,174,238,0.67);
}
